/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.menu-container {
    text-align: center;
}

h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.proyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.proyecto {
    text-align: center;
}

.proyecto img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.proyecto button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #757e75;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.proyecto button:hover {
    background-color: #606160;
}
